* {
  margin: 0;
  font-style: Muli;
  font-size: 14px;
  font-family: "Muli", sans-serif;

  -webkit-font-smoothing: antialiased;
}

.App {
  padding: 5px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
  border-bottom: 1px solid;
}
